<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
        <h4>Mrinank Chandna</h4>
        <p class="mb-0">Software Developer | Web Developer | .NET & Angular Specialist</p>
      </div>
      <div class="col-md-6 text-center text-md-end">
        <div class="social-links">
          <a href="mailto:mrinankchandna17@gmail.com" class="me-3" title="Email">
            <i class="fas fa-envelope fa-lg"></i>
          </a>
          <a href="https://www.linkedin.com/in/mrinank-Chandna" target="_blank" class="me-3" title="LinkedIn">
            <i class="fab fa-linkedin fa-lg"></i>
          </a>
          <a href="tel:+919837862200" class="me-3" title="Phone">
            <i class="fas fa-phone fa-lg"></i>
          </a>
          <a href="https://github.com/" target="_blank" title="GitHub">
            <i class="fab fa-github fa-lg"></i>
          </a>
        </div>
        <p class="mt-2 mb-0">&copy; {{ currentYear }} Mrinank Chandna. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
